<a href="https://colab.research.google.com/github/sweetestpie/ENGCE174/blob/main/Lab4_unit6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

union_set = set1 | set2
print(union_set)

intersection_set = set1 & set2
print(intersection_set)

difference_set = set1 - set2
print(difference_set)

symatric_difference_set = set1 ^ set2
print(symatric_difference_set)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [3]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [5]:
grades = {'Alice' : 85, 'Bob' : 92, 'Charlie' : 78, 'David' : 95}

print("Bob's grade :", grades['Bob'])

grades['Eve'] = 90

for student, grade in grades.items():
    print(f"{student}:{grade}")

print("Frake's grade :", grades.get('Frake','Grade Not Found'))

Bob's grade : 92
Alice:85
Bob:92
Charlie:78
David:95
Eve:90
Frake's grade : Grade Not Found

In [8]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

union_set = set1 | set2
print(union_set)

intersection_set = set1 & set2
print(intersection_set)

difference_set = set1 - set2
print(difference_set)

symatric_difference_set = set1 ^ set2
print(symatric_difference_set)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7}

In [16]:
set1_3 = {1,2,3,4}
set2_3 = {3,4,5,6}

set1_3.add(5)

set2_3.discard(6)

print("Is set1 a subset of set2?", set1_3.issubset(set2_3))
print("Is set2 a superset of set1?", set2_3.issubset(set1_3))

Is set1 a subset of set2? False
Is set2 a superset of set1? True

In [18]:
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
list3 = [5,6,7,8,9]

unique_elements = set(list1).union(set(list2)).difference(set(list3))
print("Unique elements:", unique_elements)

Unique elements: {1, 2, 3, 4}

In [19]:
score = {'Alice':[85,90,92], 'Bob':[88,87,85], 'Charlie':[90,91,89]}
average_scores = {}

for students, score_list in score.items():
    average_scores[students] = sum(score_list) / len(score_list)

print("Average scores:", average_scores)

Average scores: {'Alice': 89.0, 'Bob': 86.66666666666667, 'Charlie': 90.0}