<a href="https://colab.research.google.com/github/sweetestpie/ENGCE174/blob/main/work1_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
squares = [x** 2 for x in range(10)]

square_dict = {x: x ** 2 for x in range(5)}

even_squares = {x ** 2 for x in range(10) if x % 2 == 0}

print(squares)
print(square_dict)
print(even_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0, 64, 4, 36, 16}

In [ ]:
squares = lambda x : x** 2
print(squares(5))

25

In [ ]:
def fibonacci():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a+b

fib = fibonacci()
print(next(fib))
print(next(fib))

0
1

In [ ]:
numbers = [1, 2, 3, 4, 5]

print("First Elements : " , numbers[0])
print("Last Elements : " , numbers[-1])

print("Sliced Elements : " , numbers[2:4])

numbers.append(6)
print("After append : " , numbers)

numbers.remove(3)
print("After removal : " , numbers)

First Elements :  1
Last Elements :  5
Sliced Elements :  [3, 4]
After append :  [1, 2, 3, 4, 5, 6]
After removal :  [1, 2, 4, 5, 6]

In [ ]:
even_numbers = [x for x in range(10) if x % 2 == 0]
squares = [num**2 for num in even_numbers]

print("Squares of even number : " , squares)

Squares of even number :  [0, 4, 16, 36, 64]

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
city = ['New York', 'London', 'Paris']

for name, age, city in zip(names, ages, city):
    print(f" {name} is  {age} years old and lives in  {city}")

 Alice is  25 years old and lives in  New York
 Bob is  30 years old and lives in  London
 Charlie is  35 years old and lives in  Paris

In [ ]:
coordinates = ( 3 , 5 )

x, y = coordinates
print("x-coordinate : ", x)
print("y-coordinate : ", y)

location = {(3,5): "Home" , (10, 20) : "Office"}
print("Location at (3,5) : ", location[(3,5)])
print("Location at (10,20) : ", location[(10,20)])

x-coordinate :  3
y-coordinate :  5
Location at (3,5) :  Home
Location at (10,20) :  Office

In [ ]:
from collections import namedtuple

Point = namedtuple('Point', ['x','y'])

p1 = Point(3, 5)
p2 = Point(-1, 2)

print("Coordinates of  p1 : ",p1.x, p1. y)
print("Coordinates of  p2 : ",p2.x, p2. y)

Coordinates of  p1 :  3 5
Coordinates of  p2 :  -1 2

In [ ]:
coordinated = (3, 5)

In [ ]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}

print("Name : ", person ['name'])

person['age'] = 31
print("Updated age : ", person ['age'])

for key, value in person.items():
    print(f"{key} : {value}")

Name :  Alice
Updated age :  31
name : Alice
age : 31
city : New York

In [ ]:
numbers = [1, 2, 3, 4, 5]

square_dict = {num: num**2 for num in numbers}
print("Dictionary of squares : ", square_dict)

Dictionary of squares :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
person = {'name': 'Alice', 'age': 30 }

city = person.get('city', 'Unknown')
print("City : ", city)

City :  Unknown

In [ ]:
cities = {
        'New York': [32,25,30,28,35],
        'London': [75,68,72,70,80],
        'Paris': [20,18,22,25,15]
        }

averages = {city: sum(temps)/len(temps) for city, temps in cities.items()}
print("Averages temperatures : ", averages)

Averages temperatures :  {'New York': 30.0, 'London': 73.0, 'Paris': 20.0}

In [ ]:
length = 5
width = 3
area = length * width
print("Area of the rectangle : ", area)

Area of the rectangle :  15